<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.coders.codebook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/praxis_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/praxis_logo"
            android:supportsRtl="true"
            android:theme="@style/LightTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".SplashScreen"
                  android:theme="@style/LightThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Answers">
        </activity>
        <activity android:name=".Searcher">
        </activity>
        <activity android:name=".myChallenge">
        </activity>
        <activity android:name=".EditProfile">
        </activity>
        <activity android:name=".PostSololution">
        </activity>
        <activity android:name=".ViewPost">
        </activity>
        <activity android:name=".CreatePost">
        </activity>
        <activity android:name=".signup">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".profile">
        </activity>
        <activity android:name=".login">
        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>